{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {% trans %}email.registration.welcome{% endtrans %} {{ email.toName }}!
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    {% trans with {'%appName%': appName} %}email.registration.header{% endtrans %}
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <button href="{{ appUrl }}/aktywuj-konto/{{ token }}">{% trans %}email.registration.confirm{% endtrans %}</button>
                </center>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    {% trans %}email.registration.footer{% endtrans %}
                </p>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p>{% trans %}email.greetings{% endtrans %}</p>
                <p>{% trans with {'%appName%': appName} %}email.team{% endtrans %}</p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Symfony + Vue.js
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}