{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {% trans %}email.review.title{% endtrans %} {{ email.toName }}!
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    {% trans with {'%mapPointName%': mapPointName } %}email.review.content{% endtrans %}
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <button href="{{ mapPointUrl }}">{% trans %}email.review.btn{% endtrans %}</button>
                </center>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    {% trans with {'%rating%': rating} %}email.review.rating{% endtrans %}
                </p>
                <h-line></h-line>
                <em>
                    {% trans with {'%review%': review} %}email.review.review{% endtrans %}
                </em>
                <h-line></h-line>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    {% trans with {'%createdBy%': createdBy} %}email.review.createdBy{% endtrans %}
                </p>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p>{% trans %}email.greetings{% endtrans %}</p>
                <p>{% trans with {'%appName%': appName} %}email.team{% endtrans %}</p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Symfony + Vue.js
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}