{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {% trans %}email.password_changed.welcome{% endtrans %}
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    {% trans with {'%appName%': appName} %}email.password_changed.header{% endtrans %}
                </p>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p>{% trans %}email.greetings{% endtrans %}</p>
                <p>{% trans %}email.team{% endtrans %} <em>DemoApp</em></p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Symfony + Vue.js Demo App
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}